@model FlyingDicksTweeter.Models.Comment
@using (Html.BeginForm("Create", "Comment", @Model, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="pull-left">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-sm-12">
                @Html.TextBoxFor(m => m.Content, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <input type="submit" value="Submit" class="btn btn-sucess" />
            </div>
        </div>
    </div>
}
