@model List<FlyingDicksTweeter.Models.Post>

@{
    ViewBag.Title = "Gallery";
}

<h2>Images from @ViewBag.Username:</h2>

<div class="container">
    <div class="row">
        @foreach (var image in Model)
        {   
            <div class="col-md-4 left" align="left">
                @if (image.Image != null)
                {
                    var base64 = Convert.ToBase64String(image.Image);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    
                    <a href="~/Profile/Slider/@image.Id">
                        <img src="@imgsrc" style="width:480px; height:360px" />
                    </a>
                }
            </div>
            
        }
    </div>
</div>


